<div class="create_block">


  <form class="create_form" action="/create" method="post">
  <input type="text" name="title" value="" placeholder="Title"><br>
  <input type="text" name="language" value="" placeholder="Launguage"><br>
  <p>Snippet Body</p>
  <textarea name="body" rows="8" cols="80"></textarea><br>
  <p>Notes:</p>
  <textarea name="notes" rows="8" cols="80"></textarea><br>
  <input type="text" name="tags" value="" placeholder="Tags">
  <button type="submit" name="button">Submit Snippet</button>
  <a href="#">
  <button type="submit" name="button">delete</button>
  </a>
</form>


</div>
