



<form class="" action="/" method="post">
  <input type="text" name="username" value="" placeholder="Username">
  <input type="password" name="password" value="" placeholder="Password">
  <button type="submit" name="button">Login</button>
</form>

OR

<a href="/signup">Signup</a>
