



<form class="login" action="/" method="post">
  <input type="text" name="username" value="" placeholder="Username"><br>
  <input type="password" name="password" value="" placeholder="Password">
  <button type="submit" name="button">Login</button>
</form>



<a id="signup" href="/signup">Signup</a>
