<div class="languages">

  <div class="logos">
    <a href="/specific/javascript">
    <img class="images" src="javascript.jpg" alt="">
    </a>
  </div>
    <div class="logos">
      <a href="/specific/java">
      <img class="images" src="java.jpg" alt="">
      </a>
    </div>
    <div class="logos">
      <a href="/specific/python">
      <img class="images" src="python.jpg" alt="">
      </a>
    </div>
    <div class="logos">
      <a href="/specific/php">
      <img class="images" src="php.jpg" alt="">
      </a>
    </div>
    <div class="logos">
      <a href="/specific/ruby">
      <img class="images" src="ruby.jpg" alt="">
      </a>
    </div>
    <div class="logos">
      <a href="/specific/sql">
      <img class="images" src="sql.jpg" alt="">
      </a>
    </div>
    <div class="logos">
      <a href="/specific/c">
      <img class="images" src="c.jpg" alt="">
      </a>
    </div>
    <div class="logos">
      <a href="/specific/c++">
      <img class="images" src="c++.jpg" alt="">
      </a>
    </div>

</div>
<a href="/create">
<button id= "newSnippet" type="button" name="button">Create A New Snippet</button>
</a>
