<div class="signup_block">
  <form class="" action="/signup" method="post">
    <input type="text" name="username" value="" placeholder="Username">
      <input type="password" name="password" value="" placeholder="Password">
        <input type="text" name="name" value="" placeholder="Name">
          <input type="email" name="email" value="" placeholder="email">
          <button type="submit" name="button">Submit</button>
  </form>
</div>
